<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DietPlanner</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'custom' %>
    <%= javascript_include_tag 'application' %>
		
		</head>
		<body>
			<h1>This is the application_layout</h1>
			<%= yield %>
		</body>